<!-- NOTIFICAÇÕEs -->
<div *ngIf="showBlueAlert" class="alert alert-primary floating-alert" role="alert">
  {{alertText}}
</div>
<div *ngIf="showRedAlert" class="alert alert-error floating-alert" role="alert">
  {{alertText}}
</div>
<div class="container">

<!--  FORMULÁRIO PARA INSERÇÃO DE CONTATOS -->
<div class="col-lg-8">
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">Nome</span>
    <input type="text" [(ngModel)]="inputNome" class="form-control" placeholder="" aria-label="" aria-describedby="sizing-addon2">
    <span class="input-group-addon" id="sizing-addon2">Telefone</span>
    <input type="text" [(ngModel)]="inputTelefone" class="form-control" placeholder="" aria-label="" aria-describedby="sizing-addon2">
    <button class="btn btn-secondary" (click)="createContato(inputNome, inputTelefone)" type="button">Adicionar</button>
  </div>
</div>
<br><br>
<!-- LISTAGEM DE CONTATOS -->
<div class="container" *ngFor="let c of contatos">
  <!-- CONTATOS -->
    <div class="col">
      <app-contato
        [contato]="c"
        (onRemoveContato)="removeContato(c)">
      </app-contato>
    </div>
</div>

<br><br>
<!-- ENQUANTO 'loading' FOR TRUE, A MENSAGEM É MOSTRADA -->
<div *ngIf="loading">
  Carregando...
</div>
